.DS_Store
.idea

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.bak

*/nime-paper.pdf
*/nime-performance.pdf

/oscplayer
/oscrecorder

/recordosc
/oscrecord